.footer-container {
  height: 20vh;
  align-items: center;
  padding: 100px 500px 100px 500px;
}

.footer-container a {
  color: black;
}

.adress {
  font-family: Work Sans;
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: 300;
}

.copyright {
  font-weight: 700;
  font-size: 0.6em;
  text-align: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.middle {
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

.right {
  flex-direction: column;
}

.left {
  justify-content: flex-end;
}

.footer-section.middle > ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0 !important;
}

.menu-item-footer {
  font-weight: 700;
  font-family: Work Sans;
  font-size: 1.1em;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-item-footer:hover {
  text-decoration: none;
  color: black;
}

hr {
  width: 10%;
}

.follow-us {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 10000px;
  padding: 3px 8px;
  margin-top: 30px;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  -ms-border-radius: 10000px;
  -o-border-radius: 10000px;
}

.text-follow-us {
  margin-right: 30px;
  margin-left: 6px;
  margin-bottom: 0;
  font-family: QuickSand;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

.menu-list {
  margin-top: 10px;
  font-size: 0.8em;
  color: black;
}

.upper-section {
  width: 100%;
  height: 90%;
}

.lower-section {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: bolder;
}
