.header-container {
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-menu,
.more-option {
  display: flex;
  align-items: center;
}

.header-menu {
  top: 0;
  background-color: #ffff;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  text-decoration: none;
}

.more-option {
  background-color: white;
  width: 50%;
  right: 0;
  font-size: 0.8em;
  justify-content: flex-end;
  padding-right: 30px;
}

.header-right {
  display: flex;
  margin-right: 170px;
  align-self: stretch;
}

.header-left {
  margin-left: 150px;
  cursor: pointer;
}

.header-left > img {
  width: 1.3em;
}

.navLink-header,
.navLink-more {
  cursor: pointer;
  text-decoration: inherit;
  text-transform: uppercase;
  font-family: Work Sans;
}

.navLink-header {
  padding: 12px 20px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: inherit;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color:#943854;
}

.menu-active {
  border-top: 5px solid#943854;
  color: #d29bc5 !important;
  font-weight: bolder;
  margin-top: -29px;
}

.menu-active > Link,
.menu-active > span,
.menu-active-home > span {
  color:#943854;
}

.menu-active-home {
  border-top: 4px solid #ffff;
  padding-top: "-9px";
}

.navLink-more {
  padding: 10px 15px;
  color: black;
  font-weight: 400;
}

.navLink-header-hover {
  border-top: "5px solid#943854";
  margin-bottom: "5px";
}

.navLink-header:hover > span {
  /* transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); */
}

.navLink-header > span {
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -ms-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
}

.navLink-more:hover {
  text-decoration: none !important;
  color: black;
}

.hamburger {
  position: absolute;
  right: 20px;
  top: 0;
}
