.purple {
  background-color: #943854;
}

.landing {
  position: relative;
  height: 100vh;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover;
}

.logo-seidan {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 90px;
  user-select: none;
}

.text-landing {
  position: absolute;
  top: 350px;
  left: 80px;
  color: white;
  font-size: 5em;
  font-family: Work Sans;
  font-weight: bold;
  line-height: 0.8em;
}

.text-landing-2 {
  position: absolute;
  font-size: 5em;
  font-family: Work Sans;
  font-weight: bold;
  line-height: 0.8em;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.patio {
  color: #943854;
}

.arrow-down-landing {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 25px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  user-select: none;
}

.arrow-down-white-landing {
  cursor: pointer;
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 25px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  user-select: none;
}

.navigation {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
