.container-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.up {
    margin-bottom: 10px;
    cursor: pointer;
}

.down {
    margin-top: 10px;
    cursor: pointer;
}

.circle-navigation {
    width: 5px;
    height: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform .3s ease-out, margin .3s ease-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    user-select: none;
}

.circle-navigation.active {
  transform: scale(2);
  margin-top: 6px;
  margin-bottom: 6px;
}